<%= f = form_for @changeset, "#", phx_submit: :save  %>
  <%= label f, :youtube_url %>
  <%= text_input f, :youtube_url %>
  <%= error_tag f, :youtube_url %>

  <div>
    <%= submit "Save" %>
  </div>
</form>
